h1 {
    font-size: 2rem;
    display:flex;
    justify-content: center;
    font-weight: bolder;
}

h2 {
    font-size: 1.5rem;
    display:flex;
    justify-content: center;
    color:#444444;
}

p {
    font-weight: normal;
    color:#444444;
    text-align:left;
}

.homeSection {
    display:flex;
    flex-direction:column;
    padding-top:20rem;
    padding-bottom: 15rem;
    box-shadow:0px 8px 10px lightgrey;
}
.aboutSection {
    padding: 4rem 12rem 4rem 12rem;
    box-shadow:0px 8px 10px lightgrey;
}
.aboutSectionDetails {
    display:flex;
    flex-direction:row;
    justify-content: center;
    padding-right: 10rem;
    padding-left: 10rem;    
}

.aboutSectionDescription {
    padding:2rem 2rem 0rem 2rem;
    display:inline-block;
}

.aboutSectionSocials {
    display: flex;
    flex-direction: column;
    justify-content: right;
}
.projects {
   padding:2rem 2rem;
}
.projectItems {
    display: flex;
    justify-content: space-evenly;
    padding:3rem 3rem 3rem 3rem;
}

.footerCustom {
    display: flex;
    justify-content: center;
    padding-bottom:1.5rem;
    padding-top:1.5rem;
    background-color: #FEF5B5;
    
}