@import "./pages/home.css";
@import "./pages/about.css";

.App {
  text-align: center;
  font-family: Avenir, Helvetica, League Spartan;
  font-weight: bold;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-header {
  background-color: #FDE330;
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: left;
  padding:2rem;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

a {
  text-decoration:none;
  color:#444444;
}

a:hover, a:active, a:focus {
  color: #000;
  font-weight: bold;
}
